// Import normalize.css for consistent base styling
@import "./variables";
@import "./mixins/breakpoints";
@import "normalize.css";

$cursor-color: white;

body {
    overflow: hidden;
    font-family: Orbitron,sans-serif;
}

.loading {
    display: flex;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1;
    background: var(--gradient-bg);
    background-blend-mode: var(--gradient-blend-mode);
    transform: rotate(-180deg);
    transition: opacity 3s;
    opacity: 1;

    &--complete {
        opacity: 0;
    }

    svg {
        margin: auto;
        width: 10rem;
        height: 10rem;
        background: transparent;
        shape-rendering: auto;
    }

    path {
        fill: none;
        stroke: #ff0cb8;
        transform: scale(0.8);
        transform-origin: 50px 50px;
    }
}

.p5Canvas, 
#defaultCanvas0 {
    position: relative;
    z-index: 1;
    background: var(--gradient-bg);
    background-blend-mode: var(--gradient-blend-mode);
    background: linear-gradient(114.95deg, rgba(235, 0, 255, 0.5) 0%, rgba(0, 0, 0, 0) 38.87%), linear-gradient(180deg, #004B5B 0%, #FFA7A7 100%), linear-gradient(244.35deg, #FFB26A 0%, #3676B1 50.58%, #00A3FF 100%), linear-gradient(244.35deg, #FFFFFF 0%, #007089 49.48%, #FF005C 100%), radial-gradient(100% 233.99% at 0% 100%, #6D3B00 0%, #8FFF00 100%), linear-gradient(307.27deg, #219D87 0.37%, #93C32E 50.19%, #2800C6 100%), radial-gradient(100% 140% at 100% 0%, #FF00C7 0%, #006C7A 49.48%, #760000 100%);
background-blend-mode: hard-light, overlay, overlay, overlay, difference, difference, normal;
}

.p5Canvas--cursor-play {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><polygon points='8,6 26,16 8,26' fill='#{$cursor-color}'/></svg>") 8 8, pointer;
}

.p5Canvas--cursor-pause {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><rect x='8' y='6' width='4' height='20' fill='#{$cursor-color}'/><rect x='20' y='6' width='4' height='20' fill='#{$cursor-color}'/></svg>") 8 8, pointer;
}

#play-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    fill: var(--play-icon-color);
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;

    &.fade-in {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
}